# Ignore huge data files (Prevents upload crash)
*.pt
*.pth
*.npy
Dataset/
ANTI/
__pycache__/
.ipynb_checkpoints/
SimCLR/test/
SimCLR/Faces/
SimCLR/part2/
SimCLR/part3/
SimCLR/samantha.webp
SimCLR/rookmini.jpg
SimCLR/kayadu.jpg
SimCLR/kajal.jpg
SimCLR/part1/
SimCLR/UTK_Face/

# Ig
*.sh
